<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-10 offset-1">
    <h3>Edit  listing </h3>
    <form   method="POST" action="/listings/<%= listing._id  %>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title :- </label>
            <input type="text" value="<%= listing.title  %>" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description :- </label>
            <textarea name="listing[description]" class="form-control"><%= listing.description  %></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image :- </label>
            <input type="text" value="<%= listing.image  %>" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-5">
                <label for="price" class="form-label">Price :- </label>
                <input type="text" value="<%= listing.price  %>" name="listing[price]" class="form-control">
            </div>
            <div class="mb-3 col-5">
                <label for="country" class="form-label">Country :- </label>
                <input type="text" value="<%= listing.country  %>" name="listing[country]" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location :- </label>
        <input type="text" value="<%= listing.location  %>" name="listing[location]" class="form-control">
        </div>        
        
        
        
        
        <button class="btn btn-dark mb-5 mt-3 edit-btn">Edit</button>
    </form>
</div>
</div>
</body>
