<% layout("/layouts/boilerplate") %>
<body>
    <h2 style="font-weight: 500 !important;" class="man"> <b> <%= listing.title  %> </b>    </h2>

 
    <div class="row" >
        <div class="col-8 offset-2">
      <div class="card show-card listing-card border border-black rounded" style="border-radius: 2rem !important; border-color: rgb(197, 196, 196) !important ;" >
        <img src="<%=  listing.image %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            
          <p class="card-text mb-3 mt-3">
           <br>
           Description :-  <%= listing.description  %> 
           <br>
          Price :-  &#8377; <%= listing.price.toLocaleString("en-IN") %>
           <br>
           Location :- <%= listing.location  %> 
           <br>
           Country :- <%= listing.country  %> 
            <br>
        </p>

        <!-- <a href="/listings/<%= listing._id %>/edit">Edit this listing</a> -->
        <div class="box mb-3">
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                <button class="btn btn-dark"><i class="fa-solid fa-trash"></i></button>
            </form>
            <button  class="btn btn-danger"><a href="/listings/<%= listing._id %>/edit" ><i class="fa-solid fa-pen-to-square" style="color: white;"></i></a>
            </button>
        </div>
        
        </div>
    </div>
    </div>
    </div>

  
    <br>
    <!-- <a href="/listings/<%= listing._id %>/edit">Edit this listing</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="btn-danger mt-5 mb-5">Delete</button>
    </form> -->
</body>
